.footer {
    width: 100%;
    height: 200px;
    background: $bg-transparente;
    border-top: $border;
    box-shadow: $box-shadow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: Poppins;
    text-align: center;
    .column1 {
        width: 300px;
        display: flex;
        flex-direction: column;
        a {
            text-decoration: none;
            color: $color-fuente;
        }
    }
    .column2 {
        width: 300px;
        display: flex;
        flex-direction: column;
        a {
            text-decoration: none;
            color: $color-fuente;
        }
    }
    .column3 {
        width: 300px;
        display: flex;
        justify-content: space-around;
        img {
            width: 2vw;
            margin: 1vw;
            min-width: 20px;
        }
    }
}