.mainImpositivo{
    .title {
    font-family: $font-family-nav;
    text-align: center;
    margin: 50px 30px;
    font-size: 2.5rem;
    color: $color-fuente; 
 }

        p {
           font-family: Poppins;
           font-size: 1.2rem;
           padding: 20px;
           text-align: center;
           background: rgba(219, 218, 218, 0.685);
           margin: 40px 0;
           background-image: url(../../assets/img/meeting.png);
           background-size: cover;
           margin: 130px 30px;
           padding: 10px 50px;
        }
    }

